@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FFECC8;  /* Warm orange-gray background */
  --color-background-alt: #FFD09B;  /* Slightly darker for header/footer */
  --color-text: #2d2926;  /* Dark gray, almost black */
  --color-text-alt: #5F4B32;  /* Lighter text color for less emphasis */
  --color-text-border: #4d4946;  /* Lighter underline color, still dark gray */
  --color-accent: #d2691e;  /* Warm orange accent color */
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.description-content a {
  color: #3b82f6; /* Tailwind's blue-500 */
  text-decoration: underline;
}

.description-content a:hover {
  color: #2563eb; /* Tailwind's blue-600 */
}
